// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@import '../base/fonts';


// Fonts mixins

@mixin font-regular{
  font-family: 'Poppins Regular', sans-serif;
}

@mixin  font-medium {
  font-family: 'Poppins Medium', sans-serif;
}

@mixin font-semibold {
  font-family: 'Poppins Semibold',sans-serif;
}

// Link Mixins
