// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$main-color:#222222;
$text-color: black;
$primary-color:#f5f1ee;
$other-color:#f4d06f;