@import 'base';

// Меню, шапка, футер, сайдбар, форми

// Основні стилі 

.navbar-mobile{    
    
    &__items{
        padding: 10px 0px;

    }

    &__item{
        color: $main-color;
        &:hover{
            text-decoration: none;
            color: indigo;
        }
        span{
            color: #666666;
        }
    }
}




// Navigation

.navbar{
    border-top: 1px solid red;
    &-brand{
        &__logo{
            padding: 10px 0px;
        }
    }    
}

.menu{
    &__item{
        list-style: none;
    }

    &__link{
        color:$text-color;
        font-family: $font-semibold;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        /* Text style for "Home     S" */
        letter-spacing: 3.6px;
        position: relative;
        &:hover{
            text-decoration: none;
            color: $main-color;
        }
        &:before {
            left: 0;
            bottom: 0;
            top: 25px;
            width: 100%;
            height: 2px;
            background: $hover;
            transform:  scaleX(0);
        }
        &:hover:before {
            transform:  scaleX(1);
        }
        &:before, &:after {
            content: '';
            position: absolute;
            transition: transform .3s ease;
        }
    }
}

.users-list{
    list-style: none;
    &__item{
        a{
            color: $main-color;
        }
    }
}


// Banner + Slider

.sale-banner{
    background: url('../images/main-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    position: relative;
}

.sale-block{
    &__title{
        color:$main-color;
        font-family: $font-semibold;
        font-size: 150px;
        font-weight: 700;
        padding-top: 120px;
    }

    &__subtitle{
        color: $main-color;
        font-family:$font-semibold;
        font-size: 62px;
        font-weight: 600;
        padding-bottom: 20px;
    }
}

// Slider

.dots-style{
    display: flex;
    justify-content: space-around;
    list-style: none;
    position: absolute;
    top: 90%;
    left: 45%;
    .slick-active{
        background-color: white;
        border-radius: 100px;
        outline: none;
        margin-left: 15px;
    }
    li > button{
        background: none;
        padding: 2px 8px;
        outline: none;
        border: none;
        content: '';
    }
}

.slick-prev{
        display: none;
}

// Sale Products



.products-block__title {
    color:$main-color;
    font-family: $font-semibold;
    font-size: 40px;
    font-weight: 600;
    border-bottom: 4px solid $main-color;
    margin-top: 50px;
}

.products-block__link {
    &:hover{
        text-decoration: none;
    }
}

.sale-block{
    margin-top: 30px;
    &__desc{
        color: $main-color;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
    }

    &__price{
        color: #222222;
        font-family: Poppins;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
    }
}
