@font-face {
  font-family: 'Poppins Regular';
  src: url("Poppins-Regular.eot");
  src: url("Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("Poppins-Regular.woff") format("woff"), url("assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Medium';
  src: url("Poppins-Medium.eot");
  src: url("Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("Poppins-Medium.woff") format("woff"), url("assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Semibold';
  src: url("Poppins-SemiBold.woff") format("woff"), url("/assets/fonts/Poppins-SemiBold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Regular';
  src: url("Poppins-Regular.eot");
  src: url("Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("Poppins-Regular.woff") format("woff"), url("assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Medium';
  src: url("Poppins-Medium.eot");
  src: url("Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("Poppins-Medium.woff") format("woff"), url("assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Semibold';
  src: url("Poppins-SemiBold.woff") format("woff"), url("/assets/fonts/Poppins-SemiBold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

.navbar-mobile__items {
  padding: 10px 0px;
}

.navbar-mobile__item {
  color: #222222;
}

.navbar-mobile__item:hover {
  text-decoration: none;
  color: indigo;
}

.navbar-mobile__item span {
  color: #666666;
}

.navbar {
  border-top: 1px solid red;
}

.navbar-brand__logo {
  padding: 10px 0px;
}

.menu__item {
  list-style: none;
}

.menu__link {
  color: black;
  font-family: "Poppins Semibold", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  /* Text style for "Home     S" */
  letter-spacing: 3.6px;
  position: relative;
}

.menu__link:hover {
  text-decoration: none;
  color: #222222;
}

.menu__link:before {
  left: 0;
  bottom: 0;
  top: 25px;
  width: 100%;
  height: 2px;
  background: #0883a4;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.menu__link:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu__link:before, .menu__link:after {
  content: '';
  position: absolute;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.users-list {
  list-style: none;
}

.users-list__item a {
  color: #222222;
}

.sale-banner {
  background: url("../images/main-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
  position: relative;
}

.sale-block__title {
  color: #222222;
  font-family: "Poppins Semibold", sans-serif;
  font-size: 150px;
  font-weight: 700;
  padding-top: 120px;
}

.sale-block__subtitle {
  color: #222222;
  font-family: "Poppins Semibold", sans-serif;
  font-size: 62px;
  font-weight: 600;
  padding-bottom: 20px;
}

.dots-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  position: absolute;
  top: 90%;
  left: 45%;
}

.dots-style .slick-active {
  background-color: white;
  border-radius: 100px;
  outline: none;
  margin-left: 15px;
}

.dots-style li > button {
  background: none;
  padding: 2px 8px;
  outline: none;
  border: none;
  content: '';
}

.slick-prev {
  display: none;
}

.products-block__title {
  color: #222222;
  font-family: "Poppins Semibold", sans-serif;
  font-size: 40px;
  font-weight: 600;
  border-bottom: 4px solid #222222;
  margin-top: 50px;
}

.products-block__link:hover {
  text-decoration: none;
}

.sale-block {
  margin-top: 30px;
}

.sale-block__desc {
  color: #222222;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
}

.sale-block__price {
  color: #222222;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */