// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

@import '../abstracts/mixins';
@import '../abstracts/variables';
@import '../base/base';
@import '../base/fonts';
@import '../components/button';


// Основні стилі 

// .header{
   
// }

.navbar-mobile{    
    
    &__items{
        padding: 20px 0px;

    }

    &__item{
        color: $main-color;
        &:hover{
            text-decoration: none;
            color: indigo;
        }
        span{
            color: #666666;
        }
    }
}

.navbar{
    border-top: 1px solid red;
    &-brand{
        &__logo{
            padding: 10px 0px;
        }
    }    
}




